<!DOCTYPE html>
<html>
  <head>
    <title>QuickLinks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QuickLinks</h1>
    <nav>
      <a href="/">Main</a>
        <!-- will be an if to check if user -->
          <a href="/logout/">Log Out</a>
        <!-- will be an else -->
          <a href="/auth/google/">Login</a>
        <!-- a test link for outdoor events -->
        <a href="/outdoor">outdoor events</a>
    </nav>