<%- include("./partials/head") %> 
    <p>Welcome to the index</p>

    <div>first element placeholder</div>
    <div>second element placeholder</div>
    <div>third element placeholder</div>
    <div>fourth element placeholder</div>
  </body>
</html>
